.modal{
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(30, 46, 88);
}

.modal-content{
  position: relative;
  color: white;
  background-color: white;
  display: flex;
  place-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0;
  width: 80%;
  animation-name: animateModal;
  animation-duration: 0.5s;
}
.modal-content >div{
  width: 100%;
  text-align: center;
}
.header,.footer{
  background-color: rgb(24, 60, 77);
}
.body{
  height: 200px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.close-modal-icon{
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  padding: 0px 10px;
  color: #fff;
  border-radius: 6px;
  font-size: 40px;
}

@keyframes animateModal{
  from{
    top: -200px;
    opacity: 0;
  }
  to{
    top: 0px;
    opacity: 1;
  }
}