.container{
  display: flex;
  flex-direction: column;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  text-align: center;
}
.product{
  display:flex;
  flex-direction: column;
  padding: 20px;
  border:1px solid ;
  gap: 10px;
}
.product img{
  width: 300px;
  height: 300px;
}